<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ealife.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E1DA779162D850400AA622A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E22CF3F161E276300EB4D27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E55AAC8166BC8BD0097A0E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E5DDA6016AF1A130002AF3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EA3EEBD16A984FA00EDE84B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EB3CADF15E7097500B82B07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>424419F215861127009863BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42441A8A15861724009863BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
