<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>age_poly.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>gls.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>gls_no_pseudo_soma.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>gls_no_soma.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>ts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E1DA779162D850400AA622A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E22CF3F161E276300EB4D27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E55AAC8166BC8BD0097A0E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EB3CA8915E6F7B700B82B07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EB3CA9F15E6F8E500B82B07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EB3CAAB15E6F91F00B82B07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EB3CABC15E6FA6E00B82B07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EB3CACD15E6FBD200B82B07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EB3CADF15E7097500B82B07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42441A8A15861724009863BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
