<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>age_poly.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>age_poly_3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>age_poly_lr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>gls.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>gls_no_pseudo_soma.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>gls_no_soma.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>gls_unlimited_all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>gls_unlimited_not.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>hologenome.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>hologenome_gender.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>hologenome_not_nand_balance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>propagule_size.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>stripes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>ts-soft-reset.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>ts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E068002178B2D99003AD69F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E1DA779162D850400AA622A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E22CF3F161E276300EB4D27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E2D2BAF17A699F90069C966</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E55AAC8166BC8BD0097A0E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E55ED36174654C500735172</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E5DDA6016AF1A130002AF3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E667D7917ABE01100A42924</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E77045917E72A9700A2323F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EA3EEBD16A984FA00EDE84B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EB3CADF15E7097500B82B07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EB67EFB16FB203E00111A41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EB67F0C16FB208A00111A41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EF08D84174CE516007852C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42441A8A15861724009863BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
